.row {
    color: var( --text-color-secondary );
    background-color: var( --surface-d );
    margin-bottom: 50px;
}

.boton {
   
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 10px;
    font-family: var( --font-family);
}

.imagen{
    width: 15px;
    height: 15px;
    
}